<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"

	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/aop  
						http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
	default-lazy-init="true">
	<!--  -->

	<description>Shiro安全配置</description>

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!--  
		<property name="realm" ref="shiroDbRealm" />
		-->
		<property name="realm" ref="statelessRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager" />
	</bean>

	<!-- 項目自定义的Realm, 所有accountService依赖的dao都需要用depends-on声明 -->
	<bean id="shiroDbRealm" class="com.job.lr.service.account.ShiroDbRealm">
		<property name="accountService" ref="accountService"/>
	</bean>
	
	<!-- 項目自定义的Realm, 所有accountService依赖的dao都需要用depends-on声明 -->
	<bean id="statelessRealm" class="com.job.lr.realm.StatelessRealm">
		<property name="accountService" ref="accountService"/>
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		
		<!-- Shiro new 1 add start -->
		<property name="filters">      	   
        	<map>  
            <entry key="statelessAuthc" value-ref="statelessAuthcFilter"/>     
        	</map>    
    	</property>
    	<!-- Shiro new 1 add end  -->    	
    	
    	<!-- Shiro的Web过滤器 -->
		<property name="loginUrl" value="/login" />
		<property name="successUrl" value="/task" />
		<property name="filterChainDefinitions">
			<value>
				<!-- /login = authc
							,rest authcBasic 
							anon,rest[user]-->
				/login = anon
				/login/fromForm = anon
				/logout = logout
				/static/** = anon
				<!--  
				  API中需要验证的，需要注掉下面的内容，才能获取到用户ID
				    使用SecurityUtils.getSubject().getPrincipal().id 这个方法才可以。
				    当为anon时，SecurityUtils.getSubject()为null
				
				/api/** = anon
				-->
				/api/** = statelessAuthc
				/register/** = anon
				/admin/** = roles[admin]
				/** = statelessAuthc
				<!--/** = user -->
			</value>
		</property>
	</bean>
	
	<bean id="statelessAuthcFilter" class="com.job.lr.filter.StatelessAuthcFilter">
		<property name="accountService" ref="accountService"/>
		<property name="usertokenService" ref="usertokenService"/>
	</bean>
	
	
	<!-- 用户授权信息Cache, 采用EhCache -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache-shiro.xml"/>
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>