/* header */
#header {margin-bottom:15px;}

#header h1 a {
	color: #0000ff;
	text-decoration: none
}

#header h1 small {color: #8080ff;}

/* footer */
#footer {
	margin-top: 15px;
	padding: 15px 0px 0px 0px;
	font-size: 95%;
	text-align: center;
	border-top: 2px solid #0080c0;
}

#footer a {color: #999;}